@model List<Presupuesto>

<h2>Presupuestos</h2>
<a class="btn btn-info btn-sm" href="/Presupuestos/Create">📄 Crear Presupuesto</a>
<table class="table">
    <thead>
        <tr>
            <th>N°</th>
            <th>Destinatario</th>
            <th>Fecha</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.IdPresupuesto</td>
                <td>@p.NombreDestinatario</td>
                <td>@p.FechaCreacion.ToShortDateString()</td>
                <td>$@p.MontoPresupuestoConIva()</td>
                <td>
                    <a class="btn btn-info btn-sm" href="/Presupuestos/Details/@p.IdPresupuesto">📄 Ver</a>
                    <a class="btn btn-warning btn-sm" href="/Presupuestos/Edit/@p.IdPresupuesto">✏️ Editar</a>
                    <a class="btn btn-danger btn-sm" href="/Presupuestos/Delete/@p.IdPresupuesto">🗑️ Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>